.footerbox {
    position: bottom;
    border: 7px dotted rgb(238, 150, 50);
    background-color: #d7f8b8;
    font-family: monospace;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  
  .headerbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

  .parkLogo {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 50px;
    border: 5px solid rgb(238, 150, 50);
}

  .cider-header {
    margin-left: 10px;
    font-size: 70px;
    color: rgb(238, 150, 50);
    font-family: monospace;
}

.areaServices {
  display: inline-block;
  justify-content: center;
  border: 7px dotted rgb(238, 150, 50);
  background-color: #d7f8b8;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  font-size: 15px;
  font-family: monospace;
  margin-top: 3px;
}

.areas {
  display: block;
  justify-content: center;
  border: 7px dotted rgb(238, 150, 50);
  background-color: #d7f8b8;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
  font-size: 15px;
  font-family: monospace;
  margin-top: 3px;
}

.areaUl {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  width: 100%;
  height: 300px;
  justify-items: space-evenly;
  align-items: center;
}


.mainBodyRight {
  border: 7px dotted rgb(238, 150, 50);
  background-color: #d7f8b8;
  font-family: monospace;
  color: black;
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  width: 20%;
}

.services {
    margin: 10px;
    display: flex;
}

.service {
  display: flex;
  margin-right: 10px;
}

.main {
  display: flex;
}


.sectionName {
  border: black;
}

body{
  margin: 10%;
}

.left-aligned{
  width: 80%;
}